<div id="sobremi">
  <div class="container-fluid mt-2 mb-2">
    <div class="post-heading">
      <h1 class="display-4 font-weight-bold py-2">Sobre Mí</h1>
      <div class="row">
        <div class="col-lg-5 col-md-6 col-12">
          <img src="../../../assets/zim-perfil.jpg" class="img-fluid" alt="profile-pic">
        </div>
    
        <div id="info-perfil" class="col-lg-7 col-md-6 col-12 py-3">
          <h2><span class="typing">Developer Full Stack jr.</span></h2>
          <hr>
          <p class="text-start py-2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum aliquam distinctio unde praesentium similique incidunt suscipit cum quam est minima sunt enim libero eligendi accusamus, repellendus ad itaque, hic placeat. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ipsam totam veritatis, eveniet voluptatem molestiae at nostrum, veniam magnam cumque delectus ullam perspiciatis quis consectetur quibusdam, reprehenderit consequuntur ad animi quo?</p><br>
          <div class="social-links buttons">
            <a id="facebook" href="https://www.facebook.com/zim.cabrera"><i class="fa-brands fa-facebook"></i></a>
            <a id="instagram" href="https://www.instagram.com/zimcab/"><i class="fa-brands fa-instagram"></i></a>
            <a id="twitter" href="https://twitter.com/zimcab/"><i class="fa-brands fa-twitter"></i></a>
            <a id="linkedin" href="https://www.linkedin.com/in/cynthia-mercedes-cabrera-9119a352/"><i class="fa-brands fa-linkedin-in"></i></a>
            <a id="github" href="https://github.com/ZimCabrera"><i class="fa-brands fa-github"></i></a>
          </div> 
        </div>
      </div> 

      <div class=row>
        <div class="acerca-tabs">
          <span class="tab-item outer-shadow active" data-target=".skills">skill</span>
          <span class="tab-item" data-target=".experiencia">experiencia</span>
          <span class="tab-item" data-target=".educacion">educación</span>
        </div>
      </div>

      <div class="row">
        <div class="skills tab-content active">
          <div class="row">
            <div class="skill-item">
              <p>Html 50%</p>
              <div class="progress inner-shadow">
                <div class="progress-bar" style="width: 50%"></div>
              </div>
            </div>
            <div class="skill-item">
              <p>Css 60%</p>
              <div class="progress inner-shadow">
                <div class="progress-bar" style="width:60%"></div>
              </div>
            </div>
            <div class="skill-item">
              <p>JavaScript 40%</p>
              <div class="progress inner-shadow">
                <div class="progress-bar" style="width:40%"></div>
              </div>
            </div>
            <div class="skill-item">
              <p>Java 80%</p>
              <div class="progress inner-shadow">
                <div class="progress-bar" style="width:80%"></div>
              </div>
            </div>
            <div class="skill-item">
              <p>Bootstrap 90%</p>
              <div class="progress inner-shadow">
                <div class="progress-bar" style="width:90%"></div>
              </div>
            </div>
          </div>
        </div>
      
        <div class="row">
          <div class="experiencia tab-content">
            <div class="row">
              <div class="timeline">
                <div class="row">
                  <div class="timeline-item">
                    <div class="timeline-item-inner outer-shadow">
                      <i class="fa-solid fa-certificate icon"></i>
                      <span>Fecha</span>
                      <h4>Puesto</h4>
                      <h5>Empresa, Ciudad</h5>
                      <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ipsa, accusamus, molestias veritatis quam delectus quod minima nemo sequi quas corporis exercitationem nisi reiciendis. Qui atque delectus earum fuga nesciunt. Eos.</p>
                    </div>
                  </div>
                  <div class="timeline-item">
                    <div class="timeline-item-inner outer-shadow">
                      <i class="fa-solid fa-certificate icon"></i>
                      <span>Fecha</span>
                      <h4>Puesto</h4>
                      <h5>Empresa, Ciudad</h5>
                      <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ipsa, accusamus, molestias veritatis quam delectus quod minima nemo sequi quas corporis exercitationem nisi reiciendis. Qui atque delectus earum fuga nesciunt. Eos.</p>
                    </div>
                  </div>
                  <div class="timeline-item">
                    <div class="timeline-item-inner outer-shadow">
                      <i class="fa-solid fa-certificate icon"></i>
                      <span>Fecha</span>
                      <h4>Puesto</h4>
                      <h5>Empresa, Ciudad</h5>
                      <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ipsa, accusamus, molestias veritatis quam delectus quod minima nemo sequi quas corporis exercitationem nisi reiciendis. Qui atque delectus earum fuga nesciunt. Eos.</p>
                    </div>
                  </div>
                  <div class="timeline-item">
                    <div class="timeline-item-inner outer-shadow">
                      <i class="fa-solid fa-certificate icon"></i>
                      <span>Fecha</span>
                      <h4>Puesto</h4>
                      <h5>Empresa, Ciudad</h5>
                      <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ipsa, accusamus, molestias veritatis quam delectus quod minima nemo sequi quas corporis exercitationem nisi reiciendis. Qui atque delectus earum fuga nesciunt. Eos.</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        
        <div class="row">
          <div class="educacion tab-content">
            <div class="row">
              <div class="timeline">
                <div class="row">
                  <div class="timeline-item">
                    <div class="timeline-item-inner outer-shadow">
                      <i class="fas fa-graduation-cap icon"></i>
                      <span>Fecha</span>
                      <h5>Institucion, Ciudad</h5>
                      <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ipsa, accusamus, molestias veritatis quam delectus quod minima nemo sequi quas corporis exercitationem nisi reiciendis. Qui atque delectus earum fuga nesciunt. Eos.</p>
                    </div>
                  </div>
                  <div class="timeline-item">
                    <div class="timeline-item-inner outer-shadow">
                      <i class="fas fa-graduation-cap icon"></i>
                      <span>Fecha</span>
                      <h4>Titulo/Certificado</h4>
                      <h5>Empresa, Ciudad</h5>
                      <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ipsa, accusamus, molestias veritatis quam delectus quod minima nemo sequi quas corporis exercitationem nisi reiciendis. Qui atque delectus earum fuga nesciunt. Eos.</p>
                    </div>
                  </div>
                  <div class="timeline-item">
                    <div class="timeline-item-inner outer-shadow">
                      <i class="fas fa-graduation-cap icon"></i>
                      <span>Fecha</span>
                      <h4>Titulo/Certificado</h4>
                      <h5>Empresa, Ciudad</h5>
                      <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ipsa, accusamus, molestias veritatis quam delectus quod minima nemo sequi quas corporis exercitationem nisi reiciendis. Qui atque delectus earum fuga nesciunt. Eos.</p>
                    </div>
                  </div>
                  <div class="timeline-item">
                    <div class="timeline-item-inner outer-shadow">
                      <i class="fas fa-graduation-cap icon"></i>
                      <span>Fecha</span>
                      <h4>Titulo/Certificado</h4>
                      <h5>Empresa, Ciudad</h5>
                      <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ipsa, accusamus, molestias veritatis quam delectus quod minima nemo sequi quas corporis exercitationem nisi reiciendis. Qui atque delectus earum fuga nesciunt. Eos.</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div> 
    </div>
  </div>
</div>

