<div id="educacion">
  <div class="container-fluid mt-2 mb-2">
    <div class="edu text-center">
      <h1 class="display-4 font-weight-bold text-center py-3">Educación</h1>
      <hr class="w-50 mx-auto mb-5">

      <div class="card text-bg-primary mb-3" style="max-width: 18rem;">
        <div class="card-header">Header</div>
        <div class="card-body">
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
      </div>
      <div class="card text-bg-info mb-3" style="max-width: 18rem;">
        <div class="card-header">Header</div>
        <div class="card-body">
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
      </div>
    </div>
  </div>
</div>