<div class="skills">
  <div class="row">
    <button type="button" class="btn btn-dark" routerLink="/nuevaskill" *ngIf="isLogged">Nueva Skill</button>
    <div class="row">
      <div class="skill-item">
        <div *ngFor="let Skills of skill">
            {{Skills.imgSkill}}
            <p>{{Skills.nombreE}} {{Skills.porcentaje}}%</p>
        </div>
        <div class="progress inner-shadow">
          <div class="progress-bar" value="Skills.porcentaje" max="100"></div>
        </div>
      </div>
    </div>
  </div> 
</div> 
