<div id="proyectos">
  <div class="container-fluid mt-2 mb-2">
    <div class="project">
      <h1 data-heading="portfolio" class="display-3 font-weight-bold py-2">Proyectos</h1>
    
      <div class="row">
        <div class="portfolio-filter">
          <span class="filter-item outer-shadow active" data-target="todo">Todo</span> 
          <span class="filter-item" data-target="paginas-webs">Paginas Webs</span> 
          <span class="filter-item" data-target="mailings">Mailings</span> 
        </div>
      </div>

      <div class="row portfolio-items">
        <div class="portfolio-item">
          <div class="portfolio-item-inner outer-shadow">
            <div class="portfolio-item-img">
              <img src="" alt="" data-screenshots="(lista de imagenes numeradas)">
              <span class="view project">Mirar Proyecto</span>
            </div>
            <p class="portfolio-item-titulo">Personal Portfolio</p>
          </div>
        </div>
      </div>


    </div>
  </div>
</div>
