.sobremi {
    width:100%;
}

hr {
    color:antiquewhite;
}

.post-heading {
    padding: 40px;
    border-radius: 30px;
}

.post-heading h1 {
    color:whitesmoke;
    font-weight: 400;
}

.post-heading h2 {
    color:aqua;
    font-size: 1.8em;
    font-weight: lighter;
    word-spacing: 6px;
    letter-spacing: 3px;
}

.post-heading p {
    color:whitesmoke;
    font-weight: 400;
}

span {
  display: inline-block;
  white-space: nowrap;
  width: 24ch;
  animation: typing 2s steps(24), blink .5s infinite step-end alternate;
  overflow: hidden;
}

@keyframes typing {
from {width: 0}
}

@keyframes blink {
50% { border-color: transparent }
}

.row img { 
    border: 7px double #ea473f;
    border-radius: 50%;
    padding: 15px;
}

.social-links {
    display: flex;
    justify-content:space-around;
}

.social-links a {
    color:lightcoral;
    font-size: 30px;
    background:rgb(24, 23, 23);
    width: 50px;
    height: 50px;
    line-height: 50px;
    border-radius:50%;
    box-shadow: 2px 2px rgb(0, 0, 0, .5);
    transition: all .3s ease-in-out;
}

.social-links a:hover {
    transform: scale(1.2);
}