<div class="sobremi container-fluid">
    <div class="row">
      <div class="sobremi-title">
         <h2>Sobre <span>Mí</span></h2>
      </div>
      <div class="sobremi-img">
          <div class="img-box inner-shadow">
              <img src="../../../assets/zim-perfil.jpg" class="outer-shadow" alt="profile-pic">
          </div>
      </div>
      <div class="sobremi-info">
        <p class="text-end">Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum aliquam distinctio unde praesentium similique incidunt suscipit cum quam est minima sunt enim libero eligendi accusamus, repellendus ad itaque, hic placeat. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ipsam totam veritatis, eveniet voluptatem molestiae at nostrum, veniam magnam cumque delectus ullam perspiciatis quis consectetur quibusdam, reprehenderit consequuntur ad animi quo?</p>
      </div>
    </div>
  </div>
