<div class="background container-fluid">
  <img src="../../../assets/black.jpg">
  <div class="post-heading text-center">
    <h1 class="font-weight-bold">Sobre <span>Mí</span></h1>
    <hr class="w-50 mx-auto mb-5">
  
    <div class="row">
      <div class="col-lg-6 col-md-6 col-12">
        <img src="../../../assets/zim-perfil.jpg" class="img-fluid" alt="profile-pic">
      </div>
    
      <div class="col-lg-6 col-md-6 col-12">
        <h2>Quieres conocerme?</h2>
        <hr>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum aliquam distinctio unde praesentium similique incidunt suscipit cum quam est minima sunt enim libero eligendi accusamus, repellendus ad itaque, hic placeat. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ipsam totam veritatis, eveniet voluptatem molestiae at nostrum, veniam magnam cumque delectus ullam perspiciatis quis consectetur quibusdam, reprehenderit consequuntur ad animi quo?</p>
        <a href="#"><i class="fa-brands fa-facebook"></i></a>
        <a href="#"><i class="fa-brands fa-instagram"></i></a>
        <a href="#"><i class="fa-brands fa-twitter"></i></a>
        <a href="#"><i class="fa-brands fa-linkedin-in"></i></a>
        <a href="#"><i class="fa-brands fa-github"></i></a>
      </div>
    </div> 
  </div> 
</div>

