<div id="sobremi">
  <div class="container-fluid mt-2 mb-2">
    <div class="post-heading text-center">
      <h1 class="display-4 font-weight-bold py-2">Sobre Mí</h1>
      <div class="row">
        <div class="col-lg-5 col-md-6 col-12">
          <img src="../../../assets/zim-perfil.jpg" class="img-fluid" alt="profile-pic">
        </div>
    
        <div id="info-perfil" class="col-lg-7 col-md-6 col-12 py-3">
          <h2><span class="typing">Developer Full Stack jr.</span></h2>
          <hr>
          <p class="text-start py-2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum aliquam distinctio unde praesentium similique incidunt suscipit cum quam est minima sunt enim libero eligendi accusamus, repellendus ad itaque, hic placeat. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ipsam totam veritatis, eveniet voluptatem molestiae at nostrum, veniam magnam cumque delectus ullam perspiciatis quis consectetur quibusdam, reprehenderit consequuntur ad animi quo?</p><br>
          <div class="social-links buttons">
            <a id="facebook" href="#"><i class="fa-brands fa-facebook"></i></a>
            <a id="instagram" href="#"><i class="fa-brands fa-instagram"></i></a>
            <a id="twitter" href="#"><i class="fa-brands fa-twitter"></i></a>
            <a id="linkedin" href="#"><i class="fa-brands fa-linkedin-in"></i></a>
            <a id="github" href="#"><i class="fa-brands fa-github"></i></a>
          </div> 
        </div>
      </div> 
    </div> 
  </div>
</div>

