<nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top" aria-label="main navegation">
  <div class="container-fluid">
    <div class="logos">
      <a class="navbar-brand" href="https://www.argentina.gob.ar/produccion/transformacion-digital-y-economia-del-conocimiento/argentina-programa" target="_blank">
      <img class="pequeña img-fluid" src="../../../assets/ArgProg.png" alt="logo">
      <img class="pequeña-min img-fluid" src="../../../assets/LogosInti.png" alt="logoInst"></a>
    </div>
    <button class="navbar-toggler d-flex d-lg-none flex-column justify-content-center" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="toggler-icon top-bar"></span>
      <span class="toggler-icon middle-bar"></span>
      <span class="toggler-icon bottom-bar"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto text-uppercase text-center">
        <li class="nav-item">
        <a class="nav-link active" href="#header"><span>< <i class="fa-solid fa-c"></i><i class="fa-solid fa-c"></i> ></span></a></li>
        <li class="nav-item">
        <a class="nav-link" href="#sobremi">Sobre Mí</a></li> 
        <li class="nav-item">
        <a class="nav-link" href="#skills">Skills</a></li> 
        <li class="nav-item">
        <a class="nav-link" href="#experiencia">Experiencias</a></li> 
        <li class="nav-item">
        <a class="nav-link" href="#educacion">Educación</a></li> 
        <li class="nav-item">
        <a class="nav-link" href="#proyectos">Proyectos</a></li>
        <li class="dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">Redes</a>
          <ul class="dropdown-menu bg-transparent border-0" aria-labelledby="navbarDropdown">
            <li></li><br>
              <li><a class="dropdown-item" href="https://www.facebook.com/zim.cabrera" target="_blank"><i class="fa-brands fa-facebook"></i></a></li>
              <li><a class="dropdown-item" href="https://www.instagram.com/zimcab/" target="_blank"><i class="fa-brands fa-instagram"></i></a></li>
              <li><a class="dropdown-item" href="https://www.linkedin.com/in/cynthia-mercedes-cabrera-9119a352/" target="_blank"><i class="fa-brands fa-linkedin-in"></i></a></li>
              <li><a class="dropdown-item" href="https://twitter.com/zimcab/" target="_blank"><i class="fa-brands fa-twitter"></i></a></li>
              <li><a class="dropdown-item" href="https://github.com/ZimCabrera" target="_blank"><i class="fa-brands fa-github"></i></a></li>
          </ul>
        </li>
      </ul>
    </div>
      <a href="/login" id="login" type="button"><i class="fa-brands fa-github-alt"></i></a>
      <a href="/onLogOut" id="onLogOut" type="button" *ngIf="isLogged"><i class="fa-brands fa-github-alt"></i></a>
  </div>
</nav>