.footer {
    width:100%;
    min-height: 15vh;
    border-radius: 15px 15px 0 0;
}

.footer h6 {
    color:antiquewhite;
    padding:25px 0 0;
    word-spacing: 4px;
    font-size: 12px;
}

.footer p {
    color:antiquewhite;
    word-spacing: 4px;
    letter-spacing: 2px;
    font-size: 12px;
}