#experiencia {
    width: 100%;
  }
  
#experiencia .expe {
    padding: 40px;
    width: 100%;
    height: 100%;
    background-size:cover;
    background-position:top-center;
    position: relative;
    z-index: 1;
  }
  
#experiencia .expe::after {
    content: '';
    background: url(../../../assets/222934.jpg) no-repeat;
    position:absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    border-radius: 30px;
    background-color: #080808;
    opacity: .9;
    z-index: -1;
  }
  
#experiencia .expe h1 {
    color:antiquewhite;
    font-weight: 400;
    text-align: center;
    margin-bottom: 40px;
  }

#nueva {
  font-size:15px;
  background: linear-gradient( 263deg, rgba(252,74,74,1) 0%, rgba(0,212,255,1) 100% );
  border: 0px;
  transition:all 0.3s ease-in-out;
}

#nueva:hover {
transform: scale(1.2);
}

#experiencia .timeline {
    flex: 0 0 100%;
    max-width: 100%;
    position:relative;
}

#experiencia .timeline:before {
    content: '';
    width: 1px;
    height:100%;
    left: 15%;
    top: 0;
    background-color: lightcoral;
    position: absolute;
}

#experiencia .timeline .timeline-item {
    flex: 0 0 100%;
    max-width: 100%;
    padding:10px 0 10px 20%;
}

#experiencia .timeline .timeline-item-inner {
  margin-top: 40px;
  margin-bottom: 40px;
}

#experiencia .timeline .timeline-item-inner h4 {
    font-size: 16px;
    color:lightcoral;
    font-weight: 600;
    margin: 0 0 5px;
    text-transform: capitalize;
}


#experiencia .timeline .timeline-item-inner p {
    font-size: 14px;
    color:antiquewhite;
    line-height: 15px;
    margin: 15px 0 0;
    padding-bottom: 40px;
}

#botones {
  padding: 10px 0px 10px 5px;
  
}



@media screen and (max-width: 890px) {
  

    #experiencia .timeline:before {
      left:0;
    }

    #experiencia .timeline .timeline-item {
      flex: 0 0 100%;
      max-width: 100%;
      padding: 0 10px;
    }

    
    #experiencia .timeline .timeline-item-inner h4 {
        font-size: 14px;
        color:lightcoral;
        font-weight: 600;
        margin: 0 0 10px 15px;
        text-transform: capitalize;
    }
    

    
    #experiencia .timeline .timeline-item-inner p {
        font-size: 12px;
        line-height: 15px;
        margin:0 0 10px 15px;
    }

    #botones {
      padding: 10px 0px 10px 15px;
    }
}
    