<div id="experiencia">
  <div class="container-fluid mt-2 mb-2">
    <div class="expe">
      <div class="text-end">
        <button id="nueva" type="button" class="btn" routerLink="/nuevaexp/" *ngIf="isLoged">Agregar <i class="fa-solid fa-square-plus"></i></button>
      </div>
      <h1 class="display-3 font-weight-bold py-2"><i class="fa-solid fa-briefcase" color="#ea473f"></i> Experiencias</h1>
      <div class="timeline">
        <div class="row">
          <div class="timeline-item">
            <div class="timeline-item-inner">
              <div *ngFor="let Experiencia of expe">
                <h4>{{Experiencia.nombreE}}</h4>
                <p>{{Experiencia.descripcionE}}</p>
                <div id="botones" *ngIf="isLoged">
                  <button type="button" class="btn btn-light" routerLink="/editexp/{{Experiencia.idExp}}"><i class="fa-solid fa-pen-fancy"></i></button>&nbsp;
                  <button type="button" class="btn btn-danger" (click)="delete(Experiencia.idExp)"><i class="fa-solid fa-trash-can"></i></button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>