<div id="experiencia">
  <div class="container-fluid mt-2 mb-2">
    <div class="expe">
      <h1 class="display-3 font-weight-bold py-2">Experiencias</h1>
      <div class="timeline">
        <div class="row">
          <button type="button" class="btn btn-dark" routerLink="/nuevaexp/" *ngIf="isLoged"><i class="fa-solid fa-square-plus"></i></button>
          <div class="timeline-item">
            <div class="timeline-item-inner outer-shadow">
              <i class="fa-solid fa-certificate icon"></i>
              <div *ngFor="let Experiencia of expe">
                <div *ngIf="isLoged">
                  <button type="button" class="btn btn-light" routerLink="/editexp/{{Experiencia.idExp}}"><i class="fa-solid fa-pen-fancy"></i></button>
                  <button type="button" class="btn btn-danger" (click)="delete(Experiencia.idExp)"><i class="fa-solid fa-trash-can"></i></button>
                </div>
                <h4>{{Experiencia.nombreE}}</h4>
                <p>{{Experiencia.descripcionE}}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>