<div id="proyectos">
  <div class="container-fluid mt-2 mb-2">
    <div class="project">
      <h1 data-heading="portfolio" class="display-3 font-weight-bold py-2">Proyectos</h1>
    
      <div class="row">
        <div class="portfolio-filter">
          <span class="filter-item outer-shadow active" data-target="todo">Todo</span> 
          <span class="filter-item" data-target="paginas-webs">Paginas Webs</span> 
          <span class="filter-item" data-target="mailings">Mailings</span> 
        </div>
      </div>

      <div class="row portfolio-items">
        <div class="portfolio-item" data-category="paginas-webs">
          <div class="portfolio-item-inner outer-shadow">
            <div class="portfolio-item-img">
              <img src="assets/pagina_prueba1.jpg" alt="#" data-screenshots="assets/pagina_prueba2.jpg, assets/pagina_prueba3.jpg">
              <span class="view-project">Mirar Proyecto</span>
            </div>
            <p class="portfolio-item-titulo">Personal Portfolio</p>
            <div class="portfolio-item-detalles">
              <div class="row">
                <div class="descripcion">
                  <h3>Proyecto Portfolio Personal:</h3>
                  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta similique quo at esse sequi, optio aspernatur voluptate ad modi, recusandae quod porro dolorum. Qui, ducimus molestiae quos magni voluptatibus corrupti!</p>
                </div>
                <div class="info">
                  <h3>Información del proyecto:</h3>
                  <ul>
                    <li>Fecha: <span>2022</span></li>
                    <li>Cliente: <span>--------</span></li>
                    <li>Herramientas: <span>--------</span></li>
                    <li>Web: <span><a href="#">www.----</a></span></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="portfolio-item" data-category="paginas-webs">
          <div class="portfolio-item-inner outer-shadow">
            <div class="portfolio-item-img">
              <img src="assets/portfolio1.jpg" alt="#" data-screenshots="assets/portfolio1.jpg">
              <span class="view-project">Mirar Proyecto</span>
            </div>
            <p class="portfolio-item-titulo">Personal Portfolio</p>
            <div class="portfolio-item-detalles">
              <div class="row">
                <div class="descripcion">
                  <h3>Proyecto Portfolio Personal:</h3>
                  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta similique quo at esse sequi, optio aspernatur voluptate ad modi, recusandae quod porro dolorum. Qui, ducimus molestiae quos magni voluptatibus corrupti!</p>
                </div>
                <div class="info">
                  <h3>Información del proyecto:</h3>
                  <ul>
                    <li>Fecha: <span>2022</span></li>
                    <li>Cliente: <span>--------</span></li>
                    <li>Herramientas: <span>--------</span></li>
                    <li>Web: <span><a href="#">www.----</a></span></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="portfolio-item" data-category="paginas-webs">
          <div class="portfolio-item-inner outer-shadow">
            <div class="portfolio-item-img">
              <img src="assets/web1.jpg" alt="#" data-screenshots="assets/web1.jpg">
              <span class="view-project">Mirar Proyecto</span>
            </div>
            <p class="portfolio-item-titulo">Personal Portfolio</p>
            <div class="portfolio-item-detalles">
              <div class="row">
                <div class="descripcion">
                  <h3>Proyecto Portfolio Personal:</h3>
                  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta similique quo at esse sequi, optio aspernatur voluptate ad modi, recusandae quod porro dolorum. Qui, ducimus molestiae quos magni voluptatibus corrupti!</p>
                </div>
                <div class="info">
                  <h3>Información del proyecto:</h3>
                  <ul>
                    <li>Fecha: <span>2022</span></li>
                    <li>Cliente: <span>--------</span></li>
                    <li>Herramientas: <span>--------</span></li>
                    <li>Web: <span><a href="#">www.----</a></span></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="portfolio-item" data-category="paginas-webs">
          <div class="portfolio-item-inner outer-shadow">
            <div class="portfolio-item-img">
              <img src="assets/pagina_prueba1.jpg" alt="#" data-screenshots="assets/pagina_prueba2.jpg, assets/pagina_prueba3.jpg">
              <span class="view-project">Mirar Proyecto</span>
            </div>
            <p class="portfolio-item-titulo">Personal Portfolio</p>
            <div class="portfolio-item-detalles">
              <div class="row">
                <div class="descripcion">
                  <h3>Proyecto Portfolio Personal:</h3>
                  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta similique quo at esse sequi, optio aspernatur voluptate ad modi, recusandae quod porro dolorum. Qui, ducimus molestiae quos magni voluptatibus corrupti!</p>
                </div>
                <div class="info">
                  <h3>Información del proyecto:</h3>
                  <ul>
                    <li>Fecha: <span>2022</span></li>
                    <li>Cliente: <span>--------</span></li>
                    <li>Herramientas: <span>--------</span></li>
                    <li>Web: <span><a href="#">www.----</a></span></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="portfolio-item" data-category="mailings">
          <div class="portfolio-item-inner outer-shadow">
            <div class="portfolio-item-img">
              <img src="assets/portfolio1.jpg" alt="#" data-screenshots="assets/portfolio1.jpg">
              <span class="view-project">Mirar Proyecto</span>
            </div>
            <p class="portfolio-item-titulo">Personal Portfolio</p>
            <div class="portfolio-item-detalles">
              <div class="row">
                <div class="descripcion">
                  <h3>Proyecto Portfolio Personal:</h3>
                  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta similique quo at esse sequi, optio aspernatur voluptate ad modi, recusandae quod porro dolorum. Qui, ducimus molestiae quos magni voluptatibus corrupti!</p>
                </div>
                <div class="info">
                  <h3>Información del proyecto:</h3>
                  <ul>
                    <li>Fecha: <span>2022</span></li>
                    <li>Cliente: <span>--------</span></li>
                    <li>Herramientas: <span>--------</span></li>
                    <li>Web: <span><a href="#">www.----</a></span></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="portfolio-item" data-category="mailings">
          <div class="portfolio-item-inner outer-shadow">
            <div class="portfolio-item-img">
              <img src="assets/web1.jpg" alt="#" data-screenshots="assets/web1.jpg">
              <span class="view-project">Mirar Proyecto</span>
            </div>
            <p class="portfolio-item-titulo">Personal Portfolio</p>
            <div class="portfolio-item-detalles">
              <div class="row">
                <div class="descripcion">
                  <h3>Proyecto Portfolio Personal:</h3>
                  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta similique quo at esse sequi, optio aspernatur voluptate ad modi, recusandae quod porro dolorum. Qui, ducimus molestiae quos magni voluptatibus corrupti!</p>
                </div>
                <div class="info">
                  <h3>Información del proyecto:</h3>
                  <ul>
                    <li>Fecha: <span>2022</span></li>
                    <li>Cliente: <span>--------</span></li>
                    <li>Herramientas: <span>--------</span></li>
                    <li>Web: <span><a href="#">www.----</a></span></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
