<div id="proyectos">
  <div class="container-fluid mt-2 mb-2">
    <div class="project">
      <h1 data-heading="portfolio" class="display-3 font-weight-bold py-2">Proyectos</h1>
    
      <div class="row">
        <div class="portfolio-filter">
          <span class="filter-item outer-shadow active" data-target="todo">Todo</span> 
          <span class="filter-item" data-target="paginas-webs">Paginas Webs</span> 
          <span class="filter-item" data-target="mailings">...</span> 
        </div>
      </div>

      <div class="row portfolio-items">
        <div class="portfolio-item" data-category="paginas-webs">
          <div class="portfolio-item-inner outer-shadow">
            <div class="portfolio-item-img">
              <img src="assets/proyecto1.jpg" alt="#" data-screenshots="assets/proyecto2.jpg, assets/proyecto3.jpg">
              <span class="view-project">Mirar Proyecto</span>
            </div>
            <p class="portfolio-item-titulo">Personal Portfolio</p>
            <div class="portfolio-item-detalles">
              <div class="row">
                <div class="descripcion">
                  <h3>Proyecto Portfolio Personal:</h3>
                  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta similique quo at esse sequi, optio aspernatur voluptate ad modi, recusandae quod porro dolorum. Qui, ducimus molestiae quos magni voluptatibus corrupti!</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="pp portfolio-popup">
  <div class="pp-detalles">
    <div class="pp-detalles-inner">
      <div class="pp-titulo">
        <h3>Portfolio Personal</h3>
        <p>Category - <span class="pp-project-category">Paginas Webs</span></p>
      </div>
      <div class="pp-project-detalles">
        <div class="row">
          <div class="descripcion">
            <h3>Proyecto Portfolio Personal:</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta similique quo at esse sequi, optio aspernatur voluptate ad modi, recusandae quod porro dolorum. Qui, ducimus molestiae quos magni voluptatibus corrupti!</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="separador"></div>

  <div class="pp-main">
    <div class="pp-main-inner">
      <div class="pp-detalles-proyecto-btn outer-shadow hover-in-shadow">Info del Proyecto &nbsp;<i class="fa-solid fa-circle-plus"></i></div>
      <div class="pp-cerrar outer-shadow hover-in-shadow"><i class="fa-regular fa-circle-xmark"></i></div>
      <img src="assets/proyecto1.jpg" alt="project1" class="pp-img outer-shadow">
      <div class="pp-counter">1 al 3</div>
      <div class="pp-prev"><i class="fa-solid fa-caret-left"></i></div>
      <div class="pp-next"><i class="fa-solid fa-caret-right"></i></div>
    </div>
  </div>
</div>