@keyframes fadeInTop{
  0%{
      opacity: 0;
      transform: translateY(-25px);
  }
  100%{ 
      opacity: 1;
      transform: translateY(0x);
  }
}



#proyectos {
  width: 100%;
}

#proyectos .project {
  padding: 80px;
  width: 100%;
  height: 700px;
  background-size:cover;
  background-position:top-center;
  position: relative;
  z-index: 1;
}

#proyectos .project::after {
  content: '';
  background: url(../../../assets/222934.jpg) no-repeat;
  position:absolute;
  left: 0;
  top: 0;
  height: 700px;
  width: 100%;
  border-radius: 30px;
  background-color: #080808;
  opacity: .9;
  z-index: -1;
}

#proyectos .project h1 {
  color:antiquewhite;
  font-weight: 400;
  text-align: center;
}

#proyectos .portfolio-filter {
  padding: 0 15px;
  flex: 0 0 100%;
  max-width: 100%;
  text-align: center;
  margin-bottom: 40px;
}

#proyectos .filter-item {
  display: inline-block;
  margin: 50px 5px 10px;
  padding: 5px 10px;
  border-radius: 30px;
  border: 1px solid lightcoral;
  background: rgb(24, 23, 23);
  box-shadow: 2px 2px rgb(0, 0, 0, .5);
  cursor:pointer;
  font-weight: 400;
  color:antiquewhite;
  text-transform: capitalize;
  font-size: 15px;
  transition:all 0.3s ease;
}

#proyectos .filter-item:hover:not(active) {
  opacity: 0.4;
}

#proyectos .filter-item.active {
  color: lightcoral;
}

#proyectos .portfolio-item {
  flex: 0 0 33.33%;
  max-width:33.33%;
  padding: 15px;
  display: flex;
  flex-wrap: wrap;
}

#proyectos .portfolio-item.hide{
  display: none;
} 

#proyectos .portfolio-item.show{
  display:block;
  animation: fadeInTop 0.5s ease;
}

#proyectos .portfolio-item-inner {
  padding: 15px;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
}

#proyectos .portfolio-item-img img {
  border-radius: 5px;
  width: 100%;
  transition:all 0.3s ease;
}

#proyectos .portfolio-item-inner:hover .portfolio-item-img img {
  transform: translateY(-25px);
}

#proyectos .portfolio-item-img {
  position:relative;
}

#proyectos .portfolio-item-img .view-project {
  text-transform: capitalize; 
  font-size: 15px;
  font-weight: 500;
  color: lightcoral;
  transition:all 0.3s ease;
  position:absolute;
  left:0;
  bottom:-4px;
  transform: translateY(-5px);
  z-index: 1;
  opacity:0;
}

#proyectos .portfolio-item-inner:hover .view-project {
  transform: translateY(0px);
  opacity: 1;
}

#proyectos .portfolio-item-detalles {
 display:none;
}

#proyectos .portfolio-item-inner p {
  font-size: 15px;
  margin:10px 0 0;
  color:antiquewhite;
  text-transform: capitalize;
}



@media screen and (max-width: 890px) {
  
  #proyectos .project {
    padding: 30px;
  }
  #proyectos .project h1 {
    font-size:2rem;
  }

  #proyectos .portfolio-item-img img {
    width: 250px;
  }

  #proyectos .portfolio-item-img .view-project {
    font-size: 12px;
    bottom:-16px;
    margin-bottom: 5px;
  }
}