<nav class="navbar navbar-expand-md navbar-fixed-top navbar-dark bg-dark" aria-label="main navegation">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <font style="vertical-align: inherit;"></font>
            <img class="pequeña" src="../../../assets/ArgProg.png" alt="logo">
            <img class="pequeña-min" src="../../../assets/LogosInti.png" alt="logoInst">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span></span>
            <span></span>
            <span></span>
        </button>

        <div class="collapse navbar-collapse justify-content-between" id="navbarSupportedContent">
          <ul class="nav navbar-nav ml-auto mb-2 mb-lg-0">
             <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">
                    <font style="vertical-align: inherit;">
                    <font style="vertical-align: inherit;">ZC</font></font></a></li>
             <li class="nav-item">
                <a class="nav-link" href="#">
                    <font style="vertical-align: inherit;">
                    <font style="vertical-align: inherit;">Sobre Mí</font></font></a></li> 
             <li class="nav-item">
                <a class="nav-link" href="#">
                <font style="vertical-align: inherit;">
                <font style="vertical-align: inherit;">Experiencia</font></font></a></li> 
             <li class="nav-item">
                <a class="nav-link" href="#">
                <font style="vertical-align: inherit;">
                <font style="vertical-align: inherit;">Educación</font></font></a></li> 
             <li class="nav-item">
                <a class="nav-link" href="#">
                <font style="vertical-align: inherit;">
                <font style="vertical-align: inherit;">Proyectos</font></font></a></li> 
          </ul>
          <ul class="navbar-nav ml-auto">
             <button type="button" class="btn btn-light">Ingresar</button>
          </ul>
        </div>
    </div>
</nav>
