img {
  padding-bottom: 20px;
}

#logAp {
    width:100px;
    height: 80px;
}

#minIn {
    width: 160px;
    height: 70px;
}

nav{
    height: 80px;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
}